@font-face {
  font-family: c_deluxe;
  src: url("font/c_deluxe.otf");
  src: url("font/c_deluxe.ttf");
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
  background-color: #192a32;
  display: flex;
  justify-content: center;
  text-align: center;
}



.square {
  background: #1f3540;
  border: 0px solid rgb(0, 0, 0);
  border-radius: 25%;
  float: left;
  font-family: c_deluxe;
  font-size: 30px;
  line-height: 10px;
  height: 50px;
  margin-right: 10px;
  margin-top: 10px;
  padding: 0;
  text-align: center;
  width: 50px;
  box-shadow: 0px 5px 1px #0f2028;
  color: #31c4be; 
  cursor: pointer;
}

.square:hover {
  background: #274452;
  box-shadow: 0px 5px 1px rgb(151, 151, 53);
}

.orange {
  color: orange;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
  font-size: 1.5em;
  font-weight: 800;
  text-transform: uppercase;
  color: #31c4be;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

ol {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

li {
  list-style-type: none;
}

.history_button_rewind, .history_button_reset {
  background: #1f3540;
  border: 0px solid rgb(0, 0, 0);
  border-radius: 25%;
  float: left;
  font-size: 13px;
  font-weight: bold;
  line-height: 50px;
  height: 50px;
  margin-right: 10px;
  margin-top: 10px;
  padding: 0;
  text-align: center;
  width: 50px;
  box-shadow: 0px 5px 1px #0f2028;
  cursor: pointer;
}

.history_button_rewind {
  color: orange;
  font-size: 11px;
}

.history_button_reset {
  color: red;
}

.history_button_rewind:hover, .history_button_reset:hover {
  background: #274452;
  box-shadow: 0px 5px 1px rgb(250, 211, 138);
}

.history_button_reset:hover {
  background: #274452;
  box-shadow: 0px 5px 1px rgb(247, 113, 113);
}


@media screen and (min-width: 700px) {

  .square {
    width: 100px;
    height: 100px;
    font-size: 80px;
  }

  .history_button_rewind, .history_button_reset {
    width: 100px;
    height: 100px;
    font-size: 20px;
  }

  .history_button_reset {
    font-size: 25px;
  }
  
  .status {
    font-size: 2.5em;
  }
}